# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Ignore DecryptionInfo file
FTPboxLib/DecryptionInfo.cs

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
/Windows/.vs/FTPbox/v15/Server/sqlite3/db.lock
/Windows/.vs/FTPbox/v15/Server/sqlite3/storage.ide
/Windows/.vs/FTPbox/v15/Server/sqlite3/storage.ide-shm
/Windows/.vs/FTPbox/v15/Server/sqlite3/storage.ide-wal
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
